@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --azul-primario: #2694bf;
  --azul-claro: #32bad9;
  --azul-ceu: #2182bf;
  --azul-escuro: #287696;
  --azul-titulo: #2a5276;
  --azul-marinho: #001d6c;
  --cinza-basico: #dde1e6;
  --cinza-subtitulo: #21272a;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  /* transition: color 0.3s;  */
  transition: transform 0.3s;
}

a:hover {
  color: black;
  transform: scale(1.1);

}

/* Grid */
.grid_container {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows:  80px 80px repeat(2, 1fr);
      

}

/* Container padrão */
.container {
  background-color: var(--cinza-basico);
  border-radius: .625rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Cabeçalho */
.cabecalho {
   grid-area: 1 / 1 / 2 / 6;

  width: 100%;

  margin-right: .625rem;

  column-gap: 0rem;
  padding: .625rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-bottom: .0625rem solid var(--cinza-basico);
}

/* Navegação */
.navbar {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: black;
}

/* PERGUNTAR DIFERENÇA */
.navbar li {
  position: relative;
}

/* PERGUNTAR DIFERENÇA */
.navbar li::after {
  content: "";
  position: absolute;
  bottom: -0.5625rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: .1875rem;
  background-color: var(--azul-primario);
  transition: width 0.3s ease-in-out;
}

.container_metricas {
  grid-area: 2 / 1 / 3 / 6; 
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}



#alerta_temperatura_baixa {
  background-color: #42A5F5;
  width: 15%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
}

#alerta_temperatura_ideal {
  background-color: #9CCC65;
  width: 15%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#alerta_temperatura_alta {
  background-color: #FF7043;
  width: 15%;
  height: 60%;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
}

#alerta_umidade_baixa{
  background-color: #A1B9CC;
  width: 15%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
}

#alerta_umidade_ideal {
background-color: #9CCC65;
width: 15%;
height: 60%;
display: flex;
  align-items: center;
  justify-content: center;
}

#alerta_umidade_alta{
  background-color: #0062FF;
  width: 15%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
}

.container_alerta>p,
.container_proximidade>p {
  font-size: 25px;
}


.container_alerta {
  margin-top: 20px;
  box-shadow: 6px 16px 29px -22px rgba(0, 0, 0, 0.23);
}

/* KPI's */
.container_temperatura {
    
  grid-area: 3 / 1 / 4 / 2; 
  width: 90%;
  height: 250px;
  margin-left: 30px;

  background-color: var(--cinza-basico);
}

.container_umidade {
  grid-area: 3 / 2 / 4 / 3; 
  width: 90%;
  height: 250px;
  margin-left: 15px;

  background-color: #A1B9CC;
}

.container_proximidade {
  grid-area: 3 / 3 / 4 / 4; 
  width: 90%;
  height: 250px;
  margin-right: 100px;

  background-color: var(--cinza-basico);
}

.container_alerta {
  grid-area: 4 / 1 / 5 / 4; 
 margin-left: 30px;
 margin-right: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;


}


.container_alerta > p,
.container_proximidade > p {
  font-size: 1.5625rem;
}

.container_temperatura,
.container_umidade,
.container_proximidade,
.container_alerta {
  margin-top: 1.25rem;
  box-shadow: .375rem 1rem 1.8125rem -1.375rem rgba(0, 0, 0, 0.23);
}

/* KPI's Textos */
.titulo_container {
  font-size: 25pt;
}

.paragrafo_container {
  font-family: Arial, sans-serif;
  font-size: 3rem;

  padding: 1.25rem;
}

.container_alerta #status-message {

  font-size: 20pt;
 
  font-weight: 700;

}


