@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* PALETA DE CORES - Separadas por tons */
:root {
    --azul-primario: #2694BF;
    --azul-claro: #32BAD9;
    --azul-ceu: #2182BF;
    --azul-escuro: #287696;
    --azul-titulo: #2A5276;
    --azul-marinho: #001D6C;
    --cinza-basico: #DDE1E6;
    --cinza-subtitulo: #21272A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--cinza-subtitulo);
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

/* Definições do header */
.header {
    background-color: #faf8f8;
    border-bottom: .0625rem solid var(--cinza-basico);
    padding: .625rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

.navbar {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: black;
}

.navbar li {
    position: relative;
}

.navbar li::after {
    content: '';
    position: absolute;
    bottom: -0.5625rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: .1875rem;
    background-color: var(--azul-primario);
    transition: width 0.3s ease-in-out;
}

.navbar li:hover::after {
    width: 100%;
    /* Aumentando a largura no hover */
}

a {
    color: black;
    text-decoration: none;
    /* transition: color 0.3s;  */
    transition: transform 0.3s;
}

a:hover {
    color: black;
    transform: scale(1.1);

}

.header .container {
    justify-content: space-between;
}

button.button-login {
    background-color: transparent;
    border: .125rem solid var(--azul-primario);
    color: var(--azul-primario);
}

button.button-login:hover {
    background-color: var(--azul-primario);
    color: #fff;
}


/* Definições do conteudo da imagem */

.conteudo-principal {
    height: 43.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: url('../img/hotel2.jpg');
    /*filter: brightness(100) contrast(1.2);*/
    background-size: cover;
    background-position: center;
    font-weight: bold;
    /* filter: grayscale(30%); */
    /* filter: brightness(90%); */
    /*filter: brightness(79%);*/
}

.conteudo-principal-escrito .conteudo-principal-escrito-titulo {
    display: flex;
    padding: 2.5rem 0 2.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 3.3125rem;
    color: var(--azul-titulo);
    max-width: 53.75rem;
    line-height: 1.3;
}

.conteudo-principal-escrito .conteudo-principal-escrito-paragrafo {
    font-size: 1.125rem;
    color: var(--cinza-subtitulo);
    max-width: 37.5rem;
    line-height: 1.7;
    padding-bottom: 1.875rem;
}

.conteudo-principal-escrito-botao {
    width: 11.5625rem;
    height: 3.75rem;
    margin: auto;
    box-shadow: .25rem .3125rem .25rem rgba(0, 0, 0, 0.25);
}

.conteudo-principal-escrito-botao:hover {
    background-color: var(--azul-escuro);
    transition: background-color 0.3s;
    transform: translateY(-0.1875rem);
    /* Movendo o botão para cima */
    box-shadow: 0rem .375rem .5rem rgba(3, 3, 3, 0.2);
    transition: 1ms;
}

.conteudo-principal-img {
    width: 70%;
    height: 70%;
}

/* Conteúdo nossa solucao */
.conteudo-nossa-solucao {
    background-color: #faf8f8;
    width: 100%;
    text-align: center;
}

.conteudo-nossa-solucao-titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    color: var(--azul-marinho);
    padding: 1.25rem;
}

.conteudo-nossa-solucao-paragrafo1 {
    font-weight: 700;
    font-size: 1.5625rem;
    padding: 0 0 .75rem;
}

.conteudo-nossa-solucao-escrito {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 6.25rem;
    padding: 5%;
}

.conteudo-nossa-solucao-escrito-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-nossa-solucao-escrito-card img{
    position: relative;
    margin: 8px 60px 0 100px;
}

/* Conteúdo do sobre nós */
.conteudo-sobre-nos .conteudo-nossa-solucao {
    background-color: #fff;
    margin: .625rem 0 .625rem;
    padding: .625rem 0 4.375rem;
}

.conteudo-sobre-nos-paragrafo2{
    padding: 0px 200px;
    font-size: 20px;
}


/* Conteúdo nossa equipe */
.container-slider {
    position: relative; 
    width: 50%;
    overflow: hidden;
    display: flex;
    align-items: center; 
}

#prev-button, #next-button {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1; 
}

#prev-button {
    left: 0; 
}

#next-button {
    right: 0; 
}



#prev-button {
    transform: rotate(180deg);
}

.slider{
    opacity: 0.6;
    transition: all 600ms ease-in-out;
    flex-shrink: 0;
    display: flex;
}

.current-slider{
    opacity: 1;   
}


.nossa-equipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 10% 2.5rem 10%;
    gap: 10%;
    background-color: var(--cinza-basico);
    overflow-x: auto;
}

/* .nossa-equipe::-webkit-scrollbar{
    display: none;
} */

.nossa-equipe h1 {
    display: flex;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    color: var(--azul-marinho);
    padding: 1.25rem;
}

.conteudo-nossa-equipe img {
    height: 60%;
    width: 90%;
    border: .0013rem solid #929292fd;
    border-radius: 10px;
}

.conteudo-nossa-equipe-titulo {
    font-size: 1.3125rem;
    font-weight: 600;
    text-align: center;
    padding: .625rem;
}

.conteudo-nossa-equipe-paragrafo {
    font-size: .9375rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: .625rem;
}

.conteudo-nossa-equipe-icons {
    text-align: center;
}

.conteudo-nossa-equipe-icons a {
    color: #697077;
    font-size: 1.5rem;
    margin: 0 .625rem;
    padding: .625rem 0 .9375rem;
}

.button-nossa-equipe {
    background-color: transparent;
    font-size: 1.0625rem;
    border: .125rem solid var(--azul-primario);
    color: var(--azul-primario);
    margin: auto 3.125rem;
    padding: .5625rem;
}

button.button-nossa-equipe:hover {
    background-color: transparent;
    color: var(--azul-escuro);
}



/* Conteudo simulador financeiro */
.simulador {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
    background-color: #faf8f8;
}

.conteudo-simulador-titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    color: var(--azul-primario);
    text-align: center;
}

.simulador p {
    padding: 3.75rem;
}

.simulador button {
    margin: 3.75rem;
}

/* Definições fale conosco */
.conteudo-fale-conosco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 0 3.75rem;
}

.conteudo-fale-conosco-titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    text-align: center;
    color: var(--azul-primario);
    padding: .9375rem;
}

.conteudo-fale-conosco-paragrafo {
    font-size: 1.5625rem;
    font-weight: 500;
    text-align: center;
    padding-bottom: 3.125rem;
}

.fale-conosco-formulario p {
    font-size: .875rem;
    font-weight: 500;
    margin: 0 0rem .125rem;
    padding: .8125rem 0 .625rem;
}


input {
    width: 50rem;
    box-sizing: border-box;
    font-weight: 100;
    padding: 1.25rem;
    margin-bottom: .625rem;
    color: var(--cinza-subtitulo);
    background-color: #F2F4F8;
    border: none;
    border-bottom: .0625rem solid #ccc;
}

#input-sobre-duvida {
    padding-bottom: 3.75rem;
}

input:focus {
    outline: none;
    /* remove a borda de foco */
}

/* Definições do footer - final da página */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #faf8f8;
    border-top: .0006rem solid #000;
    padding: .5rem 5rem 1.25rem;
}

.footer-escrito {
    justify-content: center;
    padding: 1.5625rem;
    font-size: 1.125rem;
    font-weight: 400;
}

.footer-imagens {
    display: flex;
    justify-content: center;
}

.footer-imagens i {
    margin: 1.25rem .8125rem;
    font-size: 1.5rem;
}


/* Definição butão */
button {
    background-color: var(--azul-primario);
    color: #fff;
    padding: .9375rem 2rem;
    text-align: center;
    font-size: 1rem;
    margin: .625rem 1.375rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
    background-color: var(--azul-escuro);
    color: #fff;
    transform: scale(1.1);
}


/* Estilos para a barra de rolagem */
::-webkit-scrollbar {
    width: .625rem;
    /* largura da barra de rolagem */
}

/* Estilos para a alça da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: var(--azul-ceu);
    /* cor da alça */
    border-radius: .625rem;
    /* borda arredondada */
}

/* Estilos para a alça da barra de rolagem quando passa o mouse por cima */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--azul-titulo);
    /* cor da alça quando passa o mouse por cima */
}

/* Estilos para a pista da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f3f3f3;
    /* cor da pista */
}


