body {

    margin: 0;
    padding: 0;
    background-color: #fff;
    text-align: center;

    display: flex;
    flex-direction: row;

    font-family: "Montserrat", sans-serif;

}

/*-----------------------LOGIN--------------------------*/

.headerLogin {

    position: absolute;
    /* border-bottom: .0313rem solid #979997; */
    background-color: transparent;
    opacity: 0.7;

    padding-top: .3125rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 50vw;

}

.headerCadastro {

    position: absolute;
    /* border-bottom: .0313rem solid #979997; */
    background-color: transparent;
    opacity: 0.7;
    row-gap: 3.125rem ;

    padding-top: .3125rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;

}

.navbar {

    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 80%;
}

.headerLogin img {

    height: 3.75rem;
    width: 3.75rem;
 
}

.headerCadastro img {

    padding-right: .3125rem;

    height: 3.75rem;
    width: 3.75rem;
    
}

.cadastroSucesso {

    position: absolute;
    background-color: #2694BF;
    color: white;
    width: 31.25rem;
    height: 12.5rem;
    left: 23%;
    top: 1.25rem;
    border-radius: 2.8125rem;

    text-align: center;

    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cadastroSucesso p {

    font-size: 20pt;
    font-weight: 600;

}

.cadastroSucesso span {

    font-size: 14pt;
    font-weight: 500;

}

a {
    color: black;
    text-decoration: none;
    /* transition: color 0.3s;  */
    transition: transform 0.3s;
}

a:hover {
    color: black;
    transform: scale(1.1);

}

.container_login {

    display: none;

}

.login {

    height: 100vh;
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;

}

h1 {

    font-weight: 700;
    font-style: normal;
    color: #31BBD8;

}

input {

    height: 3.125rem;
    width: 27.5rem;
    border: none;
    background-color: #ECECEC;
    border-radius: 1.25rem;
    outline: none;
    
}

#input_nome {

    background-image: url("../img/solar_user-outline.png");
    background-repeat: no-repeat;
    background-size: 1.5625rem;
    background-position: .625rem center;
    text-indent: 2.5rem;

}

#login_input_email {

    background-image: url("../img/iconamoon_email-thin.png");
    background-repeat: no-repeat;
    background-size: 1.5625rem;
    background-position: .625rem center;
    text-indent: 2.5rem;

}

#login_input_senha{

    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-size: 1.1875rem;
    background-position: .625rem center;
    text-indent: 2.5rem;

}

#cadastro_input_email {

    background-image: url("../img/iconamoon_email-thin.png");
    background-repeat: no-repeat;
    background-size: 1.5625rem;
    background-position: .625rem center;
    text-indent: 2.5rem;

}

#cadastro_input_senha{
    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-size: 1.1875rem;
    background-position: .625rem center;
    text-indent: 2.5rem;

}

#confirmacaoSenha{

    background-image: url("../img/Vector.png");
    background-repeat: no-repeat;
    background-size: 1.1875rem;
    background-position: .625rem center;
    text-indent: 2.5rem;

}

.mensagemErro {
    
    display: flex;
    justify-content: start;
    position: absolute;
    left: 25%;
    padding-left: 1.875rem;
    width: 28.75rem;

    text-align: left;
    font-size: 10pt;

    color: red;

}

#imagem_cama {

    width: 50vw;
    height: 100vh;
    position: absolute;
    left: -.375rem;
    z-index: 1;

}

.divBranca {
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: -.375rem;
    z-index: 1;
}

.divBranca img {

    position: relative;
    top: 25%;
    width: 50%;
    height: 40%;

}

.login-button {

    width: 13.6875rem;
    height: 3.125rem;
    border: none;
    background-color: #2694BF;
    border-radius: 1.25rem;
    text-align: center;
    font-weight: 50rem;
    color: #fff;
    box-shadow: .25rem .25rem 0rem #ECECEC;
    cursor: pointer;

}

.nao_tem_conta {

    display: flex;
    justify-content: center;
    row-gap: .4375rem;

}

h5 {

    font-weight: 700;
    font-style: normal;
    color: #9797;
    text-align: center;

}

#nao_tem_conta_button{

    width: 3.125rem;
    height: 3.125rem;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #2694BF;

    position: relative;
    top: .3125rem;
    cursor: pointer;

}

/*--------------------------CADASTRO----------------------------- */

.container_cadastro {

    display: flex;
    position: absolute;
    left: 50%;

}

#cadastro_inputs {

    height: 43.75rem;
    width: 62.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;

}

.tem_conta {

        display: flex;
        justify-content: center;
        row-gap: .4375rem;

}

#cadastro-button  {

    width: 13.6875rem;
    height: 3.125rem;
    border: none;
    background-color: #2694BF;
    border-radius: 1.25rem;
    text-align: center;
    font-weight: 50rem;
    color: #fff;
    font-family: "Roboto", sans-serif;
    box-shadow: .25rem .25rem 0rem #ECECEC;
    cursor: pointer;

}

#tem_conta_button {

    width: 3.125rem;
    height: 3.125rem;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #2694BF;

    position: relative;
    top: .3125rem;
    cursor: pointer;

}

@keyframes imgAnim {
    0% {
        left: 50%;
    }
    100% {
        left: -0.375rem;
    }
}

@keyframes imgAnim2 {
    0% {
        left: -0.375rem;
    }
    100% {
        left: 50%;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    } 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes cadastroComSucesso {

    0% {
        top: -100px;
        opacity: 0%;
    } 

    25% {
        top: 20px;
        opacity: 100%;
    }

    50% {
        top: 20px;
        opacity: 100%;
    }

    100% {
        top: -100px;
        opacity: 0%;
    }

}